* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color:darkblue;
}

nav {
  position: sticky;
  top: 0;
  background: #0077b6;
  padding: 10px;
  text-align: center;
  z-index: 999;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

nav a {
  color: rgb(202, 24, 24);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s;
}

nav a:hover {
  color: #90e0ef;
}

.section {
  padding: 80px 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section:nth-child(even) {
  background-color: #f1f8ff;
}

h1 {
  font-size: 3rem;
  color: #0077b6;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #023e8a;
}

a {
  color: #0077b6;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  background-color: #00b4d8;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #0077b6;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  width: 100%;
}

form input,
form textarea {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

form button {
  padding: 10px;
  border: none;
  background: #0096c7;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background: #023e8a;
}

footer {
  background: #0077b6;
  color: white;
  text-align: center;
  padding: 20px 0;
}
